# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
out/
release/
*.tsbuildinfo

# Env & secrets
.env
.env.*
!.env.example

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Uploads (GED runtime storage)
uploads/
